/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 70%;
    padding: 10;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #7c41FA;
  }
  #HeaderFrame{
    width:100%;
    height:80;
    border: 0;
  }
