/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 #map {
    height: 80%;
    padding: 10;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #7c41FA;
  }
  #HeaderFrame{
    width:100%;
    height:80;
    border: 0;
  }

#PopUpMenu {
  background-color: #7c41FA;
  height: 400;
  width: 100%;
  position: fixed;
  bottom: -250px;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;

  justify-content: center;
  align-content: center;
  border-radius: 20px 20px 0px 0px;
}
.SideMenu{
  background-color:#7c41FA;
  height: 350px;
  width: 250px;
  position: fixed;
  z-index: 6;
  right: -500px;
  border-radius: 0px 0px 0px 10px;
  transition: right 0.5s;
  
}
.SideMenu > img{
  padding: 7px;
  width: 10vw;
}

.SideMenu > span {
  display: flex;
  flex-direction: column;
  width: 75%;
  float:right;
  padding-top: 7px;
  font-family: "Montserrat", sans-serif;
  color:#FFFFFF;
  font-size: 15px;
}

#SlideMenuButtonsContainer{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.ButtonCon {
  height: 59px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #a377fb;
  padding-right: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  margin: 10px;
}

.Arrow{
  right: 0;
}

.SideMenuBtn {
  width: 160px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #a377fb;
  padding: 5px;
  border-radius: 5px;
}

.btnDivs {
    display: flex;
    flex-direction: row;
}
.menuDivs {
  position: absolute;
  align-items: center;
  bottom: 10%;
  width: 100%;
  display:flex;
  flex-direction: column;
}
.MenuButtons {
  display: flex;
  height: 15vw;
  width: 40vw;
  background-color: white;
  border-radius: 10px;
  border-width: 0px;
  border-color: white;
  border-style: solid;
  margin-left: 5%; /* Add some spacing between buttons */
  margin-right: 5%;
  align-items: center;
  justify-content: center;
}
.MenuButtons:active{
  background-color: #c2c2c2;
  border-color: #c2c2c2;  
}
.nonVisible{
  display: none;
}
/* The button to pull up the menu */
#RollUpButton {
  background-color: white;
  width: 40%;
  padding: 5px; 
  border-radius: 15px;
  position: absolute; /* Position relative to the parent */
  top: 15px; /* Position at the top of the menu */
  display: flex;
}
#InputField{
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border-radius: 10px;

}
.hideInputField {
  display: none;
}
#ClearButton{
  height: 17px;
  border: white;
  margin-left: 8px;
  /* center icon */
  position: relative;
  top: 25%;

}

.SearchMenu{
  top: 70px;
  position: absolute;
  width: 70%;
  height: 35px;
  left: 15%;
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  justify-content: center;
}

#ButtonText {
  color: #7c41FA;
  font-size: 150%;
  font-family: "Montserrat", sans-serif;
  font-weight: 650;
  text-align: center;
  
}

.myLocationButton {
  position: relative;
  top: 40%;
  padding: 10px;
  height: 40px;
  width: 40px;
  background-color:#dccbff;
  border-radius: 50%;
  border-width: 0px;
  border-color: black;
  left: 10px;
  align-items: center; /* Center both horizontally and vertically */
  text-align: center;
}
.myLocationButton:active {
  background-color: #7c41FA;
}
.myLocationIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
  width: 35px;
  height: 35px;
}

.Routeinfo {
  padding-left: 15%;
  padding-top: 1%;
  display:flex;
  flex-direction: column;
  width: 100%;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
}

.chooseroute{
  display: flex;
  flex-direction: column;
  width: 180px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  background-color: #7c41FA;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.activeroute{
  display: flex;
  flex-direction: column;
  width: 180px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #a377fb;
}

.diffRoutes{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 70px;
  padding-top: 20px;
}

#Routescontainer{
  padding-top: 20%;
}


#CancelBtn{
  position: absolute;
  bottom: 10%;
  display:flex;
  flex-direction: column;
  left: 25%; 
}

.RouteTemplate{
  padding-top: 10%;
  align-items: center;
}

#FastestDiv{
  display: flex;
  flex-direction: column;
}
