/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 #map {
    height: 80%;
    padding: 10;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #7c41FA;
  }
  #HeaderFrame{
    width:100%;
    height:80;
    border: 0;
  }

#PopUpMenu {
  background-color: #7c41FA;
  height: 400;
  width: 100%;
  position: fixed;
  bottom: -250px;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;

  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
}
.SideMenu{
  background-color:#7c41FA;
  height: 30vh;
  width: 40vw;
  position: fixed;
  z-index: 6;
  right: -500px;
  border-style: solid;
  border-radius: 0px 0px 0px 80px;
  border-width: 20px 0px 20px 20px;
  border-color:rgba(0,0,0,0.5);
  transition: right 0.5s;
  
}
.SideMenu > img{
  width: 8vw;
}

.SideMenu > span {
  display: flex;
  flex-direction: column;
  width: 75%;
  float:right;
  padding-top: 7px;
}
.btnDivs {
    display: flex;
    flex-direction: row;
}
.menuDivs {
  position: absolute;
  align-items: center;
  bottom: 10%;
  width: 100%;
  display:flex;
  flex-direction: column;
}
.MenuButtons {
  display: flex;
  height: 15vw;
  width: 40vw;
  background-color: white;
  border-radius: 10px;
  border-width: 0px;
  border-color: white;
  border-style: solid;
  margin-left: 5%; /* Add some spacing between buttons */
  margin-right: 5%;
  align-items: center;
  justify-content: center;
}
.MenuButtons:active{
  background-color: #c2c2c2;
  border-color: #c2c2c2;  
}
.nonVisible{
  display: none;
}
/* The button to pull up the menu */
#RollUpButton {
  background-color: white;
  width: 30%;
  padding: 5px; 
  border-radius: 15px;
  position: absolute; /* Position relative to the parent */
  top: 0px; /* Position at the top of the menu */
  left: 42%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  margin: 30px;
}
#InputField{
  position: absolute;
  width: 70%;
  height: 35px;
  top: 70px;
  border-radius: 10px;
  left: 15%;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-left: 15px;
}
.hideInputField {
  display: none;
}

#ButtonText {
  color: #7c41FA;
  font-size: 150%;
  font-family: "Montserrat", sans-serif;
  font-weight: 650;
  text-align: center;
  
}

.myLocationButton {
  position: relative;
  top: 40%;
  padding: 10px;
  height: 40px;
  width: 40px;
  background-color:#dccbff;
  border-radius: 50%;
  border-width: 0px;
  border-color: black;
  left: 10px;
  align-items: center; /* Center both horizontally and vertically */
  text-align: center;
}
.myLocationButton:active {
  background-color: #7c41FA;
}
.myLocationIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
  width: 35px;
  height: 35px;
}

.Routeinfo {
  padding-left: 15%;
  padding-top: 5%;
  display:flex;
  flex-direction: column;
  width: 100%;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  
}

#Routescontainer{
  padding-top: 23%;
}

#CancelBtn{
  position: absolute;
  bottom: 10%;
  display:flex;
  flex-direction: column;
  left: 25%; 
}

.RouteTemplate{
  padding-top: 10%;
  align-items: center;
}
